<!-- templates/fragmentos/header.html -->
<header th:fragment="header(activePage)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <i class="fas fa-truck me-2"></i>FrotaLux </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">

                    <!-- Caminhões -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           th:classappend="${activePage == 'caminhao'} ? 'active' : ''">
                            <i class="fas fa-truck me-1"></i>Caminhões
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/caminhao}">Listagem</a></li>
                            <li><a class="dropdown-item" th:href="@{/caminhao/formulario}">Cadastrar</a></li>
                        </ul>
                    </li>

                    <!-- Marcas -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           th:classappend="${activePage == 'marca'} ? 'active' : ''">
                            <i class="fas fa-tags me-1"></i>Marcas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/marca}">Listagem</a></li>
                            <li><a class="dropdown-item" th:href="@{/marca/formulario}">Cadastrar</a></li>
                        </ul>
                    </li>

                    <!-- Caixas -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           th:classappend="${activePage == 'caixa'} ? 'active' : ''">
                            <i class="fas fa-box me-1"></i>Caixas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/caixa}">Listagem</a></li>
                            <li><a class="dropdown-item" th:href="@{/caixa/formulario}">Cadastrar</a></li>
                        </ul>
                    </li>

                    <!-- Produtos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           th:classappend="${activePage == 'produto'} ? 'active' : ''">
                            <i class="fas fa-cube me-1"></i>Produtos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/produto}">Listagem</a></li>
                            <li><a class="dropdown-item" th:href="@{/produto/formulario}">Cadastrar</a></li>
                        </ul>
                    </li>

                    <!-- Encomendas -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           th:classappend="${activePage == 'encomenda'} ? 'active' : ''">
                            <i class="fas fa-shipping-fast me-1"></i>Encomendas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/encomenda}">Listagem</a></li>
                            <li><a class="dropdown-item" th:href="@{/encomenda/formulario}">Cadastrar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>