<!DOCTYPE html>
 
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Solicitação')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Solicitacao')}"></header>
	<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
		<h2 class="text-center"
			th:text="${solicitacao!= null} ? 'Editar Solicitação' : 'Lista Solicitação'"></h2>
		<div th:if="${message != null}"
			class="alert alert-success alert-dismissible fade show text-center"
			role="alert">
			[[${message}]]
			<button type="button" class="close btn-sm" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
    <a href="/solicitacao/formulario">Novo</a>
    <div th:if="${lista.size() > 0}">
	    <table class="table table-hover table-responsive-xl">
	        <thead class="thead-light">
	            <tr>
	                <th scope="col">Produto</th>
	                <th scope="col">Caixa</th>
	                <th scope="col">Caminhão</th>
	                <th scope="col">CEP Origem</th>
	                <th scope="col">CEP Destino</th>
	                <th scope="col">Data Solicitação</th>
	                <th scope="col">Distância KM</th>
	                <th scope="col">Custo de Pedágios</th>
	                <th scope="col">Peso Total</th>
	                <th scope="col">Custo do Frete</th>
	            </tr>
	        </thead>
	        <!-- 
	            @OneToOne(cascade = CascadeType.ALL)
    @JoinColumn(name = "produto_id", referencedColumnName = "produto_id")
    private Produto produto;

    @ManyToOne
    @JoinColumn(name = "caixa_id", referencedColumnName = "caixa_id")
    private Caixa caixa;

    private String cepOrigem;
    private String cepDestino;
    private LocalDateTime dataSolicitacao;

    private Double distanciaKm;
    private Double custoPedagios;
    private Double pesoConsideradoKg;
    private Double custoFreteCalculado;
	         -->
	        <tbody>
	            <tr th:each="solicitacao : ${lista}">
	                <td th:text="${solicitacao.produto.nome}"></td>
	                <td th:text="${solicitacao.caixa.material}"></td>
	                <td th:text="${solicitacao.caminhao.modelo}"></td>
	                <td th:text="${solicitacao.cepOrigem}"></td>
	                <td th:text="${solicitacao.cepDestino}"></td>
	                <td th:text="${solicitacao.dataSolicitacao}"></td>
	                <td th:text="${solicitacao.distanciaKm}"></td>
	                <td th:text="${solicitacao.custoPedagios}"></td>
	                <td th:text="${solicitacao.pesoConsideradoKg}"></td>
	                <td th:text="${solicitacao.custoFreteCalculado}"></td>


						
					<td><a th:href="@{'/solicitacao/formulario/' + ${solicitacao.id}}"
							title="Editar a Solicitacao"
							class="fa-regular fa-pen-to-square icon-dark"></a> &nbsp; <a
							th:href="@{'/solicitacao/delete/' + ${solicitacao.id}}"
							th:solicitacaoTitle="${solicitacao.id}" id="btnDelete"
							title="Apague esta Solicitacao"
							class="fa-regular fa-trash-can icon-dark btn-delete"></a>
					</td>
	            </tr>
	        </tbody>
	    </table>
	  </div>
    </div>
	<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>