<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Produtos')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='Produto')}"></header>
    <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
		<h2 class="text-center"
			th:text="${caminhao!= null} ? 'Editar Caminhão' : 'Lista Caminhão'"></h2>
		<div th:if="${message != null}"
			class="alert alert-success alert-dismissible fade show text-center"
			role="alert">
			[[${message}]]
			<button type="button" class="close btn-sm" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	    <a href="/produto/formulario">Novo</a>
	    <table class="table table-hover table-responsive-xl">
	        <thead class="thead-light">
	            <tr>
	                <th scope="col">Nome</th>
	                <th scope="col">Peso</th>
	                <th scope="col">Preço</th>
	                <th scope="col">Ações</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="produto : ${lista}">
	                <td th:text="${produto.nome}"></td>
	                <td th:text="${produto.peso}"></td>
	                <td th:text="${produto.preco}"></td>
	                 
	                <td>
						<a class="fa-regular fa-pen-to-square icon-dark" th:href="@{/produto/formulario?id={id}(id=${produto.id})}"></a>
						
						<form action="/produto" method="post">
							<input type="hidden" name="_method" value="delete">
							<input type="hidden" name="id" th:value="${produto.id}">
							<button type="submit" value=""><i class="fa-regular fa-trash-can icon-dark btn-delete"></i></button>
						</form>
					</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</body>
</html>