<!DOCTYPE html>
<html lang ="en" xmlns:th="http://thymeleaf.org" >

<head th:replace="~{fragmentos/head :: head('Manter Marca')}"></head>
<body>
<div layout:fragment="header">
	<header
		th:replace="~{fragmentos/header :: header(activePage='Marca')}"></header>
	<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
		<h2 class="text-center"
			th:text="(${marca != null} ? 'Editar Marca' : 'Nova Marca')"></h2>
		<div th:if="${message != null}"
			class="alert alert-success alert-dismissible fade show text-center"
			role="alert">
			[[${message}]]
			<button type="button" class="close btn-sm" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>
	<div class="box">
		<h1>Cadastro Marca</h1>
		<form method="post" action="/marca">
			<input type="hidden" name="_method" value="put" th:if="${marca!= null}">
			<input type="hidden" name="id" th:value="${marca?.id}">
			
			<div class="form-group">
				<label for="nome"> Nome: </label>
				<input class="form-control" type="text" id="nome" name="nome" th:value="${marca?.nome}">
			</div>
			
			<div class="form-group">
				<label for="pais"> Pais: </label>
				<input class="form-control" type="text" id="pais" name="pais" th:value="${marca?.pais}">
			</div>
			
			<input class="btn btn-secondary" type="submit" value="Cadastrar">
		</form>
	</div>
</body>
</html>
<!-- 
	<div class="box">
		<h1>Cadastro Marca</h1>
		<form method="post" action="/marca">
			<input type="hidden" name="_method" value="put" th:if="${marca!= null}">
			<input type="hidden" name="id" th:value="${marca?.id}">
			
			<div>
				<label for="nome"> Nome: </label>
				<input type="text" id="nome" name="nome" th:value="${marca?.nome}">
			</div>
			
			<div>
				<label for="pais"> Pais: </label>
				<input type="text" id="pais" name="pais" th:value="${marca?.pais}">
			</div>
			
			<input type="submit" value="Cadastrar">
		</form>
	</div>
 -->